.login-page {
    max-width: 400px;
    padding: 6% 0;
    margin: auto;
}

.form {
    font-family: sans-serif;
    position: relative;
    background: #242629;
    padding: 2em;
    text-align: center;
}

.form input, textarea{
    background: #121212;
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 1em;
    padding: 1.25em;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.5s;
}

.form input:focus {
    border: 1px solid white;
}

.form button {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid transparent;
    letter-spacing: 0.3em;
    padding: 1em;
    margin-bottom: 1em;
    transition: 0.25s;
}

.form button:hover {
    color: white;
    background: black;
}
