ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #B1B1B1;
    margin-left: 2em;
    line-height: 1em;
    font-weight: 500;
    font-family: sans-serif;

}

ul li a:hover {
    color: white;
}

.navbar-left {
    display: flex;
    padding: 0;
    margin: 0;
    height: 2em;
}

.navbar-right {
    display: flex;
    padding: 0;
    margin: 0;
    height: 2em;
    text-align: right;
}

#header {
    background-color: #242629;
    height: 2.5em;
    position: fixed;
    width: 100%;
}