nav {
    background-color: #242629;
}
ul li a{
    color: #B1B1B1;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0.75em 1.2em;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: white;
}

.navbar-toggler-icon {
    color: white !important;
}

.nav_left {
    text-align: right !important;
}

.logo {
    font-weight: bold;
    font-family: "Bodoni MT";
    line-height: 35px;
}

footer {
    text-align: center;
    padding: 5em;
    background: #242629;
    color: #B1B1B1;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
}
