nav {
    background-color: #242629;
}
ul li a{
    color: #B1B1B1;
    text-decoration: none;
    line-height: 30px;
    display: block;
    margin-left: 1.5em;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: white;
}

.navbar-toggler-icon {
    color: white !important;
}

.nav_left {
    text-align: right !important;
}

.logo {
    font-weight: bold;
    font-family: "Bodoni MT";
    line-height: 35px;
}