nav {
    background-color: #242629;
}

ul li a{
    color: #B1B1B1;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0.75em 1.2em;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: white;
}

.logo {
    font-weight: bold;
    font-family: Georgia, serif;
    line-height: 35px;
}

footer {
    text-align: center;
    padding: 1.5em;
    background: #242629;
    color: #B1B1B1;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

.iconsfooter{
    margin: 0 0.5em 0;
}
.iconsfooter:hover {
    transition: transform 0.5s ease-in-out;
}

.yt:hover{
    transform: scale(1.5);
    color: red;
}

.steam:hover{
    transform: scale(1.5);
    color: black;
}

.fb:hover{
    transform: scale(1.5);
    color: #3b5998;
}

.telo {
    padding-bottom: 3em !important;
    padding-top: 3em !important;
}

.picture {
    margin: 1em;
    max-width: 50% !important;
    height: auto;
}

.info {
    padding: 1.5em;
    margin: 0.5em;
    border: 1px solid black;
}
.icons {
    padding-bottom: 1em;
    width: auto;
    text-decoration: none;
}
.icons i {
    margin: 0 0.05em;
}
.icons a i {
    color: black;
}
.main-karty {
    padding-top: 0.5em;
}

.titulok {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 0.2em;
}
