:root {
    --main-bg-color: #020923;
    --nav-bg-color: #242629;
    --footer-bg-color: #242629;
    --almost-white-color: #F4F4F4;
    --card-bg-color: #323345;
    --card-bg-color-hover: #2b2c42;
    --form-bg-color: #242629;
    --form-text-bg-color: #121212;
}

body {
    background-color: var(--main-bg-color) !important;
}
nav {
    background-color: var(--nav-bg-color);
}

ul li a{
    color: #B1B1B1;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0.75em 1.2em;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: var(--almost-white-color);
}

.logo {
    font-weight: bold;
    font-family: Georgia, serif;
    line-height: 35px;
}

footer {
    text-align: center;
    padding: 1.5em;
    background: var(--footer-bg-color);
    color: #B1B1B1;
}

footer a {
    color: var(--almost-white-color);
}

footer a:hover {
    color: #ffffff;
}

.iconsfooter{
    margin: 0 0.5em 0;
}
.iconsfooter:hover {
    transition: transform 0.5s ease-in-out;
}

.yt:hover{
    transform: scale(1.5);
    color: red;
}

.steam:hover{
    transform: scale(1.5);
    color: black;
}

.fb:hover{
    transform: scale(1.5);
    color: #3b5998;
}

.telo {
    padding-bottom: 3em !important;
    padding-top: 3em !important;
}

.picture {
    margin: 1em;
    max-width: 50% !important;
    height: auto;
}

.info {
    padding: 1.5em;
    margin: 0.5em;
    border: 1px solid grey;
}

.icons {
    padding-bottom: 1em;
    width: auto;
    text-decoration: none;
}

.icons i {
    margin: 0 0.1em;
}

.icons a i {
    color: grey;
    transition: transform 0.5s;
}

.icons a i:hover {
    color: white;
    transform: scale(1.15);
}

.main-karty {
    padding-top: 0.5em;
}

.img-karta {
    padding: 1em 1em 0 1em;
}

.titulok {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 0.2em;
}

.card {
    background: var(--card-bg-color) !important;
    color: white !important;
    opacity: 70%;
}

.card:hover {
    background: var(--card-bg-color-hover) !important;
}

.card-body button {
    border-radius: 15px;
}

.noa {
    text-decoration: none !important;
    outline: none !important;
}

.login-page {
    max-width: 400px;
    padding: 6% 0;
    margin: auto;
}

.form {
    font-family: sans-serif;
    position: relative;
    background: var(--form-bg-color);
    padding: 2em;
    text-align: center;
}

.form input, textarea{
    background: var(--form-text-bg-color);
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 1em;
    padding: 1.25em;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.5s;
}

.form input:focus {
    border: 1px solid white;
}

.form button {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid transparent;
    letter-spacing: 0.3em;
    padding: 1em;
    margin-bottom: 1em;
    transition: 0.25s;
}

.form button:hover {
    color: white;
    background: black;
}

.inputicon{
    position: relative;
}

.inputicon i {
    position: absolute;
    top: 40%;
    right: 6%;
    cursor: pointer;
    color: lightgray;
}

.icons i:hover{
    transform: scale(1.3);
    transition: 0.3s ease-out;
}
.form-group form {
    margin-bottom: 0.25em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.nav-icon {
    color: #B1B1B1;
    cursor: pointer;
}

.nav-icon:hover {
    color: #f2f2f2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.search {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input {
    width: 90%;
    border-radius: 15px;
    background-color: #222;
    border: none;
    outline: none;
    padding: 8px;
    padding-left: 13px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #c1baba;
    transition: width 0.5s ease-out;
    margin-right: -30px;
}
.search__input::placeholder {
    color: #969090;
}

.search__icon {
    color: grey;
    cursor: pointer;
}
.search__icon:active {
    transform: scale(1.2);
}

